.App {
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
}
.App .logo{

  margin-top: 50px;
}

.app__form {
  position: fixed;
  bottom: 0;
  z-index: 1;
  padding: 20px;
  background:#e9e9eb;
  width: 95%;
  margin: 10px;
  /* right: 0;
  left: 0; */
}
.app__formControl {
  display: flex !important;
  flex-direction: row!important;
}
.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}
.loaderSection {
  display:flex;
  width: 100%;
  justify-content: center;
}
.loader {
width: 70px;
height: 70px;
border-top: 2px solid blueviolet;
border-left: 2px solid blueviolet;
border-bottom: 2px solid blueviolet;
border-right: 2px solid transparent;
border-radius: 50%;
animation: roll .5s infinite;
}

@keyframes roll {
  100% {
    transform: rotate(360deg)
  }
}
.messagesAll {
  margin-bottom: 120px;
  /* width: 100%;
  position:fixed;
  bottom: 120px;
  top: 100px;
  overflow-x: hidden;
  overflow-y: scroll; */
}
nav {
  width: 100%;
  height: 80px;
  display:flex;
  align-items: center;
  background-color:rgba(255,255,255,.98);
  border-bottom: 1px solid rgba(0,0,0,.1);
  position: fixed;
  top: 0;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0 20px;
  color: rgba(0, 0, 0, .55);
  font-size: 17px;
  font-weight: 500;
}
@media(max-width: 500px){
  nav ul li a {
    font-size: 13px;
    font-weight: 300;
    padding: 0 10px
  }
  .logo {
    font-weight: 400;
    font-size: 16px!important;
  }
  .cc {
    font-size: 14px!important;
  }
}
.App {
  margin-top: 100px;
}
.logo {
  color: #0b81ff!important; 
  font-weight: bold;
  font-size: 22px;
}

